#common-header {
    background: linear-gradient(135deg, deepskyblue 0%, lightyellow 40%, greenyellow 75%, lightgoldenrodyellow 100%);
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    position: relative;
}

#common-header h1 {
    display: inline;
    font-size: 16px;
    line-height: 1;
}

#common-header .back-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
}