.city-list-container {
    /*background: radial-gradient(white, lightyellow, lightpink); !* 标准的语法（必须放在最后） *!*/
    /*background: radial-gradient(white, lightyellow, lightpink); !* 标准的语法（必须放在最后） *!*/
    padding: 10px 15px 20px 15px;
}

.city-list-container h3 {
    font-size: 16px;
}

.city-list-container ul {
    display: block;
    width: 100%;
}

.city-list-container li {
    list-style: none;
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
}

.city-list-container li span {
    display: inline-block;
    border: 1px solid orange;
    font-size: 16px;
    line-height: 2;
    margin-top: 15px;
    width: 90%;
}
